<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SrvLogin</servlet-name>
    <servlet-class>bdSuper.servlets.SrvLogin</servlet-class>
    <init-param>
      <param-name>fichero_propiedades</param-name>
      <param-value>D:\\Desarrollo\\grupo-FP\\SuperMarket-Web\\WebContent\\WEB-INF\\bdsuper.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvLogin</servlet-name>
    <url-pattern>/SrvLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvRegistro</display-name>
    <servlet-name>SrvRegistro</servlet-name>
    <servlet-class>bdSuper.servlets.SrvRegistro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvRegistro</servlet-name>
    <url-pattern>/SrvRegistro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvUsuarios</display-name>
    <servlet-name>SrvUsuarios</servlet-name>
    <servlet-class>bdSuper.servlets.SrvUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvUsuarios</servlet-name>
    <url-pattern>/SrvUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvEliminar</display-name>
    <servlet-name>SrvEliminar</servlet-name>
    <servlet-class>bdSuper.servlets.SrvEliminar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvEliminar</servlet-name>
    <url-pattern>/SrvEliminar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvProcesarUsuario</display-name>
    <servlet-name>SrvProcesarUsuario</servlet-name>
    <servlet-class>bdSuper.servlets.SrvProcesarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvProcesarUsuario</servlet-name>
    <url-pattern>/SrvProcesarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvBuscarProductos</display-name>
    <servlet-name>SrvBuscarProductos</servlet-name>
    <servlet-class>bdSuper.servlets.SrvBuscarProductos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvBuscarProductos</servlet-name>
    <url-pattern>/SrvBuscarProductos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvCarrito</display-name>
    <servlet-name>SrvCarrito</servlet-name>
    <servlet-class>bdSuper.servlets.SrvCarrito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvCarrito</servlet-name>
    <url-pattern>/SrvCarrito</url-pattern>
  </servlet-mapping>
</web-app>